.counter-section {
    background: linear-gradient(135deg, #1236a4, #0d287aef); 
    padding: 25px 0;
    text-align: center;
    color: #fff;
  }
  
  
  .container-counter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row-counter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .counter-box {
    min-width: 200px;
    flex: 1 1 200px;
  }
  
  .counter-box .icon i {
    font-size: 48px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .counter-box .counter {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #fff;
  }
  
  .counter-box p {
    font-size: 16px;
    margin-top: 0;
    color: #fff;
  }
  @media (max-width: 768px) {
    .row-counter {
      flex-direction: column;
      align-items: center;
    }
  }
    